.chart{
    margin: 20px;
    padding: 20px;
    -webkit-box-shadow: 19px 18px 40px -19px rgba(0,0,0,0.58);
    -moz-box-shadow: 19px 18px 40px -19px rgba(0,0,0,0.58);
    box-shadow: 19px 18px 40px -19px rgba(0,0,0,0.58);
}

.chartTitle{
    margin-bottom: 20px;
}