.featured{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.featuredItem{
    flex: 1;
    margin: 0 20px;
    padding: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 19px 18px 40px -19px rgba(0,0,0,0.58);
    -moz-box-shadow: 19px 18px 40px -19px rgba(0,0,0,0.58);
    box-shadow: 19px 18px 40px -19px rgba(0,0,0,0.58);
}

.featuredTitle{
    font-size: 20px;
}

.featuredMoneyContainer{
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.featuredMoney{
    font-size: 30px;
    font-weight: bold;
}

.featuredMoneyRate{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.featuredIcon{
    font-size: 20px !important;
    margin-left: 5px;
    color: green
}

.featuredIcon.negative{
    color: red;
}

.featuredSub{
    font-size: 18px;
    color: gray;
}