.widgetSmall{
    flex: 1;
    -webkit-box-shadow: 19px 18px 40px -19px rgba(0,0,0,0.58);
    -moz-box-shadow: 19px 18px 40px -19px rgba(0,0,0,0.58);
    box-shadow: 19px 18px 40px -19px rgba(0,0,0,0.58);
    padding: 20px;
    margin-top: 30px;
    margin-right: 60px;
}

.widgetSmallTitle{
    font-size: 30px;
    font-weight: 600;
}

.widgetSmallList{
    margin: 0;
    padding: 0;
    list-style: none;
}
.widgetSmallListItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.widgetSmallImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.widgetSmallUser{
    display: flex;
    flex-direction: column;
}

.widgetSmallUsername{
    font-weight: 600;
}

.widgetSmallUserTitle{
    font-weight: 300;
}

.widgetSmallButton{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: #eeeef7;
    color: #555;
    cursor: pointer;
}

.widgetSmallIcon {
    margin-right: 5px;
}