.user{
    flex: 4;
    padding: 20px;
}

.userTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userAddButton{
    width: 80px;
    border: none;
    padding: 10px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.userContainer{
    display: flex;
    margin-top: 20px;
}

.userShow{
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 29px 2px 63px -20px rgba(0,0,0,0.51);
    -moz-box-shadow: 29px 2px 63px -20px rgba(0,0,0,0.51);
    box-shadow: 29px 2px 63px -20px rgba(0,0,0,0.51);
}

.userUpdate{
    flex: 2;
    padding: 20px;
    margin-left: 60px;
    -webkit-box-shadow: 29px 2px 63px -20px rgba(0,0,0,0.51);
    -moz-box-shadow: 29px 2px 63px -20px rgba(0,0,0,0.51);
    box-shadow: 29px 2px 63px -20px rgba(0,0,0,0.51);
}

.userShowTop{
    display: flex;
}

.userShowImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.userShowTopTitle{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.userShowUsername{
    font-weight: 600;
}

.userShowUserTitle{
    font-weight: 400;
}

.userShowBottom{
    margin-top: 20px;
}

.userShowTitle{
    font-size: 16px;
    font-weight: 600;
    color: rgb(175, 170, 170);
}

.userShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: #444;
}

.userShowIcon{
    font-size: 28px !important;
}

.userShowInfoTitle{
    margin-left: 15px;
}

.userUpdateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.userUpdateTitle{
    font-size: 28px;
    font-weight: 600;
}

.userUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.userUpdateItem>label{
    margin-bottom: 5px;
    font-size: 18px;
}

.userUpdateInput{
    border: none;
    width: 300px;
    height: 30px;
    border-bottom: 1px solid gray;
}

.userUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.userUpdateUpload{
    display: flex;
    align-items: center;
}

.userUpdateImg{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.userUpdateIcon{
    cursor: pointer;
}

.userUpdateButton{
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    background-color: darkblue;
    color: white;
    font-weight: 600;
}
